
/*----------Temporary----------------*/
.container .container__contents{
    background-color: rgb(0,0,0,0.5);
    margin-right : 30px;
}

.container .container__side .side__stories{
    background-color: rgb(0,0,0,0.5);
    padding : 10px 0;
}

.container .container__side .side__profile{
    width : 200px;
}

/*-----------------------------------*/

i {
    font-size: 30px;
    line-height: 30px;
    color : var(--color-light-white);
}


/* Header */
.header{
    display: flex;
    justify-content: space-evenly;
    padding : 20px 30px;
    margin-bottom : 30px;
}

.header__logo,
.header__search{
    height : 30px;
    width : 250px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin : 10px;
}

.header__logo .line{
    content : "";
    height : 30px;
    width : 1px;
    background-color: var(--color-light-white);
}

.header__logo h3{
    margin : 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: var(--weight-semi-bold);
    color : var(--color-light-white);
}

.header__search{
    position : relative;
}

.search-form,
.search-form input{
    width : 100%;
    height : 100%;
}

.search-form input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--color-light-white); 
    outline : none;
}

.search-form label {
    position : absolute;
    top : 0; left : 0; bottom: 0; right: 0;
    text-align: center;
    line-height: 30px;
    color : var(--color-light-white);
}


.header__nav{
    height : 30px;
    width : 250px;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    margin : 10px;
}

/* Container */
.container{
    display: flex; 
    justify-content: center;
}

/* Container__contents */
.container__contents{
    padding : 10px;
}

.content{
    display : flex;
    flex-direction: column;
    width : 400px;
}

.content__header{
    width : 100%;
    display: flex;
    justify-content: space-between;
    padding : 0 10px;
    margin-bottom: 10px;
}

.content__header .profile,
.content__header .about,
.side__profile .profile,
.side__stories .stories .story{
    display : flex;
    align-items: center;
    font-weight: var(--weight-semi-bold);
    color : var(--color-light-white);
}

.profile .image{
    width : 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.content__imgs img{
    width : 100%;
}

/* Container__side */
.container__side{
    padding : 10px;
}

.container__side .side__profile,
.container__side .side__stories .stories .story{
    padding : 0 10px;
    margin-bottom: 10px;
}

.side__profile .profile .id__name,
.side__stories .stories .id__name{
    margin-top : 3px;
    font-size: 10px;
    color : var(--color-dark-white);
}

.side__stories .title{
    display : flex;
    justify-content: space-between;
    font-size: 12px;
    padding : 0 10px;
    margin-bottom: 10px;
}

.side__stories .title button{
    font-size: 12px;
}

.side__stories .stories {
    overflow:auto; 
    height:100px;
}

.side__stories .stories .story .image{
    width : 40px;
    padding : 2px;
    border-radius: 50%;
    margin-right: 20px;
    border: solid 3px var(--color-light-white); 
}

.side__stories .stories .notread .image{
    border: solid 3px rgb(112, 1, 103); 
}
