body {
    margin: 0;
    cursor: defualt;
    background: no-repeat center/cover url("../image/background.jpg");
    height: 100vh;
  }
  
  body::before{
    z-index: -1;
    content : "";
    background-color: rgb(0,0,0,0.7);
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Container */
.container a{
    color : var(--color-white);
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--font-large); 
}

.container:hover a{
    font-weight: var(--weight-bold);
    color : var(--mainpage-section-color);
}